################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Huebert/obj
/Huebert/Properties/PublishProfiles
/Huebert/bin
/Huebert/Huebert.csproj.user
